.advantages {
  &_outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border: 1px solid #d3d3d3;
    background: #fff;
  }
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid #d3d3d3;
    &:last-child {
      border: 0;
    }
  }
  &_icon {
    i {

    }
  }
  &_content {
    h4 {
      font-family: montserrat-regular;
    }
    p {
      font-family: montserrat-light;
      font-size: 14px;
    }
  }
}
