.logotypes {

  &_slider {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 40px;
    position: relative;
    .owl-stage {
      display: flex;
      align-items: center;
    }
    .owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 45px;
      font-size: 45px;
      button.owl-prev, button.owl-next {
        &:hover {
          color: #1e55fa;
        }
      }
    }
  }
  &_item {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    img {
      height: 100%;
      width: auto;
    }
  }
}
