.popular-posts {
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d5d5d6;
    border-bottom: 0;
    h5 {
      margin-left: 77px;
      font-family: montserrat-bold;
      text-transform: uppercase;
    }
  }
  &_buttons {
    display: flex;
  }
  &_prev, &_next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 34px;
    font-size: 25px;
    border-left: 1px solid #d5d5d6;
    &:hover {
      cursor: pointer;
    }
  }
  &_slider {
    padding: 50px;
    border: 1px solid #d5d5d6;
    @media(max-width: 1199px) {
      padding: 20px;
    }
  }
  &_left {
    width: 67.5%;
    margin-right: 3.5%;
    @media(max-width: 1199px) {width: 57.5%;}
    @media(max-width: 991px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &_right {
    width: 29%;
    @media(max-width: 1199px) {width: 39%;}
    @media(max-width: 991px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &-archive-link {
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media(max-width: 991px) {display: none;}
      i {
        margin-left: 10px;
      }
    }
  }
  &_item {
    display: flex;
    @media(max-width: 991px) {flex-direction: column;}
    &-big {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 320px;
      padding: 48px;
      background-position: 50% 50%;
      background-size: cover;
      h4 {
        max-width: 220px;
        margin-bottom: 10px;
        color: #ffffff;
      }
      i {
        margin-right: 6px;
        font-size: 8px;
      }
      &-date {
        margin-bottom: 10px;
        font-size: 10px;
        color: #ffffff;
      }
      &-details {
        font-size: 10px;
        color: #ffffff;
        &-separator {
          display: inline-block;
          margin: 0 12px;
        }
      }
      &-comment {

      }
      &-likes {

      }
    }
    &-small {
      display: flex;
      margin-bottom: 50px;
      @media(max-width: 991px) {
        margin-bottom: 15px;
        width: 100%;
      }
      &-image {
        min-width: 100px;
        img {
          @media(max-width: 991px) {
            width: 100%;
            height: auto;
          }
        }
      }
      &-content {
        margin-left: 30px;
        @media(max-width: 991px) {
          margin-left: 10px;
        }
        h4 {
          margin-bottom: 10px;
          color: #232323;
        }
        i {
          margin-right: 6px;
          font-size: 8px;
        }
      }
      &-date {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 10px;
        color: #999999;
      }
      &-details {
        font-size: 10px;
        color: #999999;
        &-separator {
          display: inline-block;
          margin: 0 12px;
        }
      }
      &-comment {

      }
      &-likes {

      }
    }
  }
}