.advantages {
  position: absolute;
  width: 100%;
  bottom: -72px;
  z-index: 1;
  @media(max-width: 767px) {
    position: static;
    padding: 15px 0;
  }
  &_outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #fff;
    @media(max-width: 991px) {
      padding: 0;
    }
  }
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 15px 0;
    border-right: 1px solid #d3d3d3;
    @media(max-width: 991px) {
      width: 50%;
      padding: 10px;
      &:nth-child(even) {
        border: 0;
      }
    }
    @media(max-width: 767px) {width: 100%;}
    &:last-child {
      border: 0;
    }
  }
  &_icon {
    margin-right: 20px;
    font-size: 35px;
    color: #999999;
    i {

    }
  }
  &_content {
    h4 {
      font-family: montserrat-regular;
      font-weight: 600;
    }
    p {
      font-family: montserrat-light;
      font-size: 14px;
      color: #999999;
    }
  }
}
