body {
  font-family: montserrat-regular;
}
h3 {
  font-family: playfairdisplay-bold;
  font-size: 30px;
}
h4 {
  font-family: playfairdisplay-regular;
  font-size: 18px;
  @media(max-width: 767px) {
    font-size: 14px;
  }
}
h5 {
  font-size: 14px;
}
h6 {
  //font-family: montserrat-regular;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}